<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlx.case11.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.zlx.case11.entity.User">
        <id column="id"  property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <insert  id="insertUser"  parameterType="com.zlx.case11.entity.User">
       insert into user  values (#{id},#{username},#{password})
    </insert >
</mapper>